header{
    display: block;
    width: 100%;
    background-color: floralwhite;
    height: 115px;
}
.ouaga{
    text-transform:uppercase; 
    color:blue;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}
.nav1 .log1{
    margin-right: 15px;
    border-radius: 50%;
}
.nav1 .log1 img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /*transform: scaleX(-1);*/
}
.nav1 .log2{
    margin-left: 15px;
    border-radius: 50%;
}
.nav1 .log2 img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: scaleX(-1);
}
nav{
    margin-top: 0;
    padding-top: 0;
    max-height: 25px;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 0px;
}
nav ul li{
    margin-right: 8%;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    font-size: 18px;
    transition: all 0.5s;
}
nav ul li a:hover{
    text-shadow: 0px 0px 8px rgba(255, 0, 0, 0.612);
    font-size: 20px;
    color: rgb(255, 5, 5);
}
footer{
    width: 100%;
    background-color:papayawhip;
    display: inline;
    align-items: center;
    justify-content: center;

}
.foot{
    background-color: papayawhip;
    color: #000;
}
.link{
    color:black;
    width: 100%;
    margin-top: 50px;
}
.link ul{
    color: black;
    text-align: center;
    margin-right: 40px;
}
.link ul li{
    margin-bottom: 18px;
    list-style-type: none;
}
.link ul li a{
    /*color: rgb(0, 0, 0);*/
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
}
#equipe{
    color:blue;
    text-align: center;
}
.team{
    display: flex;
}
.binome1{
    width: 280px;
    height: 200px;
    background-color: rgba(0, 0, 46, 0.805);
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 46, 0.805);
    transition: all 1s;
}
.binome2{
    width: 280px;
    height: 200px;
    background-color: rgba(0, 0, 46, 0.805);
    margin-left: 20px;
    margin-right:auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 46, 0.805);
    transition: all 1s;
}
.binome3{
    width: 280px;
    height: 200px;
    background-color: rgba(0, 0, 46, 0.805);
    margin-right: auto;
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 46, 0.805);
    transition: all 1s;
}
.binome4{
    width: 280px;
    height: 200px;
    background-color: rgba(0, 0, 46, 0.805);
    margin-left: 40px;
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 0, 46, 0.805);
    transition: all 1s;
}
.copy{
    /*color: #00000086;*/
    color:blue;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.binome1 h3,
.binome2 h3,
.binome3 h3,
.binome4 h3{
    color: rgba(253, 222, 161, 0.867);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.binome1 p,
.binome2 p,
.binome3 p,
.binome4 p{
    color: rgba(223, 221, 221, 0.799);
    text-align: justify;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
}
.binome1 span img,
.binome2 span img,
.binome3 span img,
.binome4 span img{
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: wheat;
}
.binome1 span a{
    font: size 10%;;
    
}
.binome1 span a,
.binome2 span a,
.binome3 span a,
.binome4 span a{
    text-decoration: none;
    color: rgba(245, 222, 179, 0.817);
    margin-left: 8px;
}
.binome1 .circle1,
.binome2 .circle1,
.binome3 .circle1,
.binome4 .circle1{
    margin-top: 10px;
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 95px;
    transition: all 1s;
}
.circle1 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all 1s;
}
.binome1 .circle1:hover,
.binome2 .circle1:hover,
.binome3 .circle1:hover,
.binome4 .circle2:hover{
    width: 90px;
    height: 90px;
    margin-top: 3px;
    margin-left: 92px;
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
}
.circle1 img:hover{
    width: 90px;
    height: 90px;
}
.binome1:hover,
.binome2:hover,
.binome3:hover,
.binome4:hover{
    box-shadow: 0px 0px 50px wheat;
}
.pres{
    background-image: url("../Images/formulaire.jpg");
    object-fit: cover;
    padding: 30px;
    text-align: center;
    background-color: papayawhip;
}
.pres h2{
    font-size: 30px;
    color: blue;
}
.pres p{
    margin-right: 60px;
    margin-left: 60px;
    font-size: 23px;
    color: beige;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: black;
} 
section{
    background-color: papayawhip;
    padding: 10px;
}
.hot{
    background-color:papayawhip;
    padding: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    align-items: center;
}
.carte__image{
    width: 100%;
    height: 10em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}
.carte__image-sous{
    width: 100%;
    height: 3em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.carte__image-sous img{
    width: 45%;
    height: 100%;
    border-radius: 0.5em;
    object-fit: cover;
}
.carte__image img{
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    object-fit: cover;
    transition: all 1s;
}

.hot-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carte{
    width: 16em;
    height: 25em;
    background-color: rgb(254, 248, 236);
    border-radius: 1.5em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.694);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 19px;
    margin-bottom: 19px;
}
.carte__image img:hover{
    transform: rotate(5deg);
}

.carte__content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.carte__titre{
    font-size: 1.5rem;
    font-weight: bold;
    color:blue;
    margin-bottom: 0px;
    text-align: center;
}
.carte__texte{
    text-align: center;
    font-size: 1.08rem;
    margin-top: 4px;
}
.carte__btn{
    text-align: center;
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgba(255, 0, 0, 0.726);
    border-radius: 10px;
    margin-bottom: 50em;
}
.carte__btn a,
.carte__btn span{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
section h2{
    text-align: center;
    font-size: 40px;
    color: blue;
}

/*Responsivité*/
@media only screen and (max-width: 1000px) {

}
@media only screen and (max-width: 768px) {
    .pres p{
        margin-right: 0px;
        margin-left: 0px;
    }
    .hot-wrapper{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 668px) {
    .slogan{
        width: 90%;
        margin-left: 5px;
    }
    .bouton{
        margin-bottom: 30px;
    }
    .team{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .binome1{
        margin-left: 42px;
        margin-top: 70px;
    }
    .binome2{
        margin-left: 42px;
        margin-top: 70px;
    }
    .binome3{
        margin-left: 42px;
        margin-top: 70px;
    }
    .binome4{
        margin-left: 42px;
        margin-top: 70px;
    }
    .link{
        margin-top: 60px;
    }
    .link ul{
        margin-right: 68px;
    }
    .patri{
        margin-right: 0px;
        margin-left: 0px;
    }
    .patri div p{
        text-align: justify;
    }
    .hotel{
        margin-right: 0px;
        margin-left: 0px;
    }
    .hotel div p{
        text-align: justify;
    }
    .gal{
        margin-right: 0px;
        margin-left: 0px;
    }
    .gal div p{
        text-align: justify;
    }
}